<h1>These are the things people are making in the 'tine</h1>

<ol type = "1">
    <% @recipes.each do |recipe| %>
    <li>
    <p><%= link_to recipe.name, recipe_path(recipe.id) %><br>
    <em>~made by: <%= link_to recipe.user.username, user_path(recipe.user) %> ~ <%= link_to "edit recipe", edit_recipe_path(recipe) if recipe.user == current_user%></em></p>

    </li>
    <% end %>
<ol>
