<h1>Recipes made by... <%= @user.username %></h1>

<ol>
<% @user.recipes.each do |recipe| %>
<li>
<p> <%= link_to recipe.name, recipe_path(recipe.id) %> </p>
</li>
<% end %>

</ol>

<br><br><br>
<p>Read <%= @user.username %>'s reviews <%= link_to "here", user_reviews_path(@user.id) %></p>