<h1>Leave a Review</h1>

<%= form_for(@review) do |f| %>
    <%= f.collection_select :recipe_id, Recipe.all.order('name ASC'), :id, :name, {include_blank: '-Choose Recipe-'} %>
    <%= f.text_field :content %>
    <%= f.submit "Add Review"%>
<% end %>
